---
export const prerender = true;

import RealestateLayout from '../../layouts/RealestateLayout.astro';
import RealestateHeader from '../../components/realestate/RealestateHeader.svelte';
import PropertyPage from '../../components/realestate/PropertyPage.svelte';

// Import the property data
import propertyData from '../../../../malaga/ventaDepartamento/ficha_tecnica.json';
---

<RealestateLayout
  title={`${propertyData.title_short} | realestate`}
  description={propertyData.description_short}
>
  <RealestateHeader client:load />

  <!-- Decorative RS watermarks -->
  <div class="hidden lg:block fixed left-0 top-16 bottom-0 w-12 pointer-events-none z-10" aria-hidden="true">
    <div class="flex flex-col items-center gap-16 pt-8 opacity-[0.04]">
      <img src="/re-favicon.svg" alt="" class="w-10 h-10" />
      <img src="/re-favicon.svg" alt="" class="w-10 h-10" />
      <img src="/re-favicon.svg" alt="" class="w-10 h-10" />
    </div>
  </div>
  <div class="hidden lg:block fixed right-0 top-16 bottom-0 w-12 pointer-events-none z-10" aria-hidden="true">
    <div class="flex flex-col items-center gap-16 pt-8 opacity-[0.04]">
      <img src="/re-favicon.svg" alt="" class="w-10 h-10" />
      <img src="/re-favicon.svg" alt="" class="w-10 h-10" />
      <img src="/re-favicon.svg" alt="" class="w-10 h-10" />
    </div>
  </div>

  <PropertyPage
    client:load
    property={propertyData}
    basePath="/realestate/ventaDepartamento"
  />
</RealestateLayout>
