---
export const prerender = true;

import RealstateLayout from '../../layouts/RealstateLayout.astro';
import RealstateHeader from '../../components/realstate/RealstateHeader.svelte';
import PropertyPage from '../../components/realstate/PropertyPage.svelte';

// Import the property data
import propertyData from '../../../../malaga/ventaDepartamento/ficha_tecnica.json';
---

<RealstateLayout
  title={`${propertyData.title_short} | realstate`}
  description={propertyData.description_short}
>
  <RealstateHeader client:load />

  <!-- Decorative RS watermarks -->
  <div class="hidden lg:block fixed left-0 top-16 bottom-0 w-12 pointer-events-none z-10" aria-hidden="true">
    <div class="flex flex-col items-center gap-16 pt-8 opacity-[0.04]">
      <img src="/rs-favicon.svg" alt="" class="w-10 h-10" />
      <img src="/rs-favicon.svg" alt="" class="w-10 h-10" />
      <img src="/rs-favicon.svg" alt="" class="w-10 h-10" />
    </div>
  </div>
  <div class="hidden lg:block fixed right-0 top-16 bottom-0 w-12 pointer-events-none z-10" aria-hidden="true">
    <div class="flex flex-col items-center gap-16 pt-8 opacity-[0.04]">
      <img src="/rs-favicon.svg" alt="" class="w-10 h-10" />
      <img src="/rs-favicon.svg" alt="" class="w-10 h-10" />
      <img src="/rs-favicon.svg" alt="" class="w-10 h-10" />
    </div>
  </div>

  <PropertyPage
    client:load
    property={propertyData}
    basePath="/realstate/ventaDepartamento"
  />
</RealstateLayout>
